<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>	
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<ul><li>
				<a href="mailto:rosie@rosiegillies.com">email</a></li>
				<li> <a href="https://twitter.com/breadandrosie" target=”_blank”>twitter</a></li>
				<li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>|</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
				<li>drawing by <a href="https://colleentigheart.com" target="_blank"><font color="#A0E37C">colleen tighe</font></a></li>
				</ul>
				
			</footer>
		</body>
	</html>
