<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" type="png" src="rosie.png">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>	
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<a href="mailto:rosie@rosiegillies.com">email</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="https://twitter.com/breadandrosie" target=”_blank”>twitter</a>
			</footer>
		</body>
	</html>
